body {
  background: linear-gradient(green, purple, gold);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: black;
}
.showShibe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  text-align: top;
  height: auto;
  padding: .5%;
} 

.container {
  text-align: center;
}
#shibeLocation {
  background-color: rgb(0, 3, 2);
  color: rgb(215, 253, 0);
}
h1 {
  color: rgb(230, 230, 5);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
.showText {
  padding: .5%;
}